name: test

on:
  workflow_call:
    outputs:
      version:
        value: ${{ jobs.test-and-build.outputs.version }}
      tag:
        value: ${{ jobs.test-and-build.outputs.tag }}

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract-version.outputs.version }}
      tag: ${{ steps.extract-version.outputs.tag }}
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools,rustfmt,clippy
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: Swatinem/rust-cache@v2
      - id: extract-version
        run: './.github/scripts/extract-version'
      - run: echo VERSION=${{ steps.extract-version.outputs.version }} TAG=${{ steps.extract-version.outputs.tag }}
      - run: cargo llvm-cov --all-features --lcov --output-path lcov.info
        id: unittest
      - uses: codecov/codecov-action@v3
        if: ${{ steps.unittest.conclusion == 'success' || steps.unittest.conclusion == 'failure' }}
      - run: |
          cargo fmt --check
          cargo clippy
      - run: cargo build --release
